---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
      <div style="float: right; margin: 10px;">
        <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/su2-distribution.gif" alt="GIF" style="width: 16%;">
        <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Gamma-distribution.png" alt="Gamma Distribution" style="width: 19%;">
        <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Normal-distribution.png" alt="Normal Distribution" style="width: 19%;">
        <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Gumbel-distribution.png" alt="Gumbel Distribution" style="width: 21%;">
        <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Jellyfish7.png" alt="Jellyfish" style="width: 20%;">
      </div>
    {% endunless %}
    {{ content }}
  </div>
</div>

