---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
      <div style="margin: 10px; display: flex; justify-content: center;">
        <div style="text-align: center;">
          <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/su2-distribution.gif" alt="GIF" style="width: 25%;">
          <p style="font-size: 50%; margin-top: 2px;">Masri/Tsai</p>
        </div>
        <div style="text-align: center;">
          <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Gamma-distribution.png" alt="Gamma Distribution" style="width: 29%;">
          <p style="font-size: 50%; margin-top: 2px;">Griffin/Ono/Tsai</p>
        </div>
        <div style="text-align: center;">
          <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Normal-distribution.png" alt="Normal Distribution" style="width: 29%;">
          <p style="font-size: 50%; margin-top: 2px;">Griffin/Ono/Tsai</p>
        </div>
        <div style="text-align: center;">
          <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Gumbel-distribution.png" alt="Gumbel Distribution" style="width: 31%;">
          <p style="font-size: 50%; margin-top: 2px;">Griffin/Rolen/Ono/Tsai</p>
        </div>
        <div style="text-align: center;">
          <img src="https://raw.githubusercontent.com/wt8zj/163.github.io/master/images/Jellyfish7.png" alt="Jellyfish" style="width: 29%;">
          <p style="font-size: 50%; margin-top: 2px;">Griffin/Ono/Saikia/Tsai</p>
        </div>
      </div>
    {% endunless %}
    {{ content }}
  </div>
</div>
